<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="ststakipApp.company.detail.title">Company</span> {{ company.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ststakipApp.company.name">Name</span></dt>
                <dd>
                    <span>{{ company.name }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.phone">Phone</span></dt>
                <dd>
                    <span>{{ company.phone }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.email">Email</span></dt>
                <dd>
                    <span>{{ company.email }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.addressLine">Address Line</span></dt>
                <dd>
                    <span>{{ company.addressLine }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.city">City</span></dt>
                <dd>
                    <span>{{ company.city }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ company.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.country">Country</span></dt>
                <dd>
                    <span>{{ company.country }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.url">Url</span></dt>
                <dd>
                    <span>{{ company.url }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.lon">Lon</span></dt>
                <dd>
                    <span>{{ company.lon }}</span>
                </dd>
                <dt><span jhiTranslate="ststakipApp.company.lat">Lat</span></dt>
                <dd>
                    <span>{{ company.lat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
